{% extends 'base.html' %}

{% block main %}
<div class="container">
  {% for movie in movies %}
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="movie">
      <a href="{{ movie.url }}"><img src="{{ movie.image }}" alt="Обложка фильма"></a>
      <a href="{{ movie.url }}"><h3 class="movie-title">{{ movie.title }}</h3></a>
      <p class="description">{{ movie.description }}</p>
      <div class="rating-box">
        <div style="width:{{ movie.rating * 20 }}%" class="rating"></div>
      </div>
      <p class="votes">Голосов: {{ movie.votes }}</p>
      <p class="genre">{{ movie.genre }}</p>
      <p class="content">{{ movie.content }}</p>
      <hr>
    </div>
  </div>
  {% endfor %}
</div><!-- /.container -->
{% endblock %}
